{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Events</h1>

    <div class="row">
        {% for event in events %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ asset('img/course-3.jpg') }}" class="card-img-top" alt="{{ event.nomEV }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ event.nomEV }}</h5>
                        <p class="card-text">{{ event.lieuEV }}</p>
                        <p class="card-text">
                            <small class="text-muted">
                                {{ event.dateEV|date('Y-m-d') }}
                            </small>
                        </p>
                        <a href="{{ path('app_client_event_detail', {'id': event.id}) }}" class="btn btn-primary">
                            View Sponsors
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
