{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>
    <form method="get" action="{{ path('app_event_index') }}" class="mb-3">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search events..." value="{{ searchTerm }}">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEV</th>
                <th>DateEV</th>
                <th>LieuEV</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.nomEV }}</td>
                <td>{{ event.dateEV ? event.dateEV|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.lieuEV }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-sm btn-primary">Show</a>
                </td>
                <td>
                {% if event.imageName %}
                        <img src="{{ asset('images/event/' ~ event.imageName) }}" alt="{{ event.nomEV }}" class="img-fluid" style="max-height: 300px; object-fit: cover;">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

