{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create a New Event</h1>

    {{ form_start(form, { 'attr': { 'enctype': 'multipart/form-data' } }) }}
        {{ form_row(form.nomEV) }}
        {{ form_row(form.dateEV) }}
        {{ form_row(form.lieuEV) }}
        {{ form_row(form.imageFile) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <a href="{{ path('app_event_back_index') }}">Back to list</a>
{% endblock %}
