{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="recent_news_area section__padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section_title text-center mb-70">
                    <h3 class="mb-45">{{ blog.titreBL }}</h3>
                    <p>{{ blog.auteur }} | 
                        <span><i class="flaticon-calendar-1"></i> {{ blog.createdAt ? blog.createdAt|date('d M Y') : 'Date inconnue' }}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">w
                <div class="single__news">
                    <div class="thumb">
                        <a href="#">
                            <img src="{{ asset('FO/img/news/1.png') }}" alt="{{ blog.titreBL }}">
                        </a>
                        <span class="badge">Blog Post</span>
                    </div>
                    <div class="news_info">
                        <h4>{{ blog.titreBL }}</h4>
                        <p class="d-flex align-items-center">
                            <span><i class="flaticon-calendar-1"></i> {{ blog.createdAt ? blog.createdAt|date('d M Y') : 'Date inconnue' }}</span> 
                            <span><i class="flaticon-comment"></i> Aucun commentaire</span>
                        </p>
                        <p>
                                {{ blog.contenue }}                        
                                <!-- Vous pouvez remplacer ce texte par un contenu spécifique si nécessaire -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a href="{{ path('app_blog_index') }}" class="btn btn-primary">Retour à la liste</a>
                <a href="{{ path('app_blog_edit', {'id': blog.id}) }}" class="btn btn-secondary">Modifier</a>
                {{ include('blog/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>

    {# <h1>Blog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog.id }}</td>
            </tr>
            <tr>
                <th>TitreBL</th>
                <td>{{ blog.titreBL }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ blog.auteur }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ blog.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_blog_index') }}">back to list</a>

    <a href="{{ path('app_blog_edit', {'id': blog.id}) }}">edit</a>

    {{ include('blog/_delete_form.html.twig') }} #}
{% endblock %}
