{% extends 'base2.html.twig' %}

{% block title %}Hello EventBackController!{% endblock %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-4">Manage Event (Books)</h2>
    
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Books List</h3>
        <a href="{{path('app_back_Sponsor_ajout')}} " >
        <button class="btn btn-primary" >
        Add New sponsor
        </button>
        </a>
    </div>

    <table class="table table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th>Image</th>
                <th>Book Title</th>
                <th>auteur</th>
                <th>type</th>
                <th>type</th>
                <th>action</th>

            </tr>
        </thead>
        <tbody>
            <!-- Example Book Row -->
            <tr>
                {% for i in Sponsor %}
                <td>{{i.nomSP}}</td>
                <td>{{i.dateDebutSP|date('Y-m-d') }} </td>
                <td>{{i.dateFinSP|date('Y-m-d') }}</td>
                <td>{{i.montantContrat}}</td>
                <td>{{i.NomEV.NomEV}}</td>

                <td>
                            <a href="{{path('app_back_Sponsor_modif' , {'id' : i.id}) }} " >modif
                            </a>
                        <a href="{{path('app_sponsordashsupp' , {'id' : i.id}) }} " >supp
                            </a>
                </td>
            </tr>
                 {%endfor%}
        </tbody>
    </table>
</div>           
            

{% endblock %}
